<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Preguntas</h1>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Título de la pregnta</th>
          <th>Descripción</th>
        </tr>
        <% @questions.each do |product| %>
          <tr>
            <td><%= question.id %></td>
            <td><%= question.title %></td>
            <td><%= question.description %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>